.login {
  border: 2px solid #91ce6b;
  width: 35%;
  display: inline-block;
  border-radius: 10px;
  padding-top: 20px;
  padding-bottom: 10px;
  box-shadow: 10px 10px 15px gray;
  background-color: rgb(209, 212, 208);
}
.login h3 {
  display: inline-block;
  width: 220px;
  color: #555855;
  padding-bottom: 10px;
  border-bottom: 3px solid yellowgreen;
}
.login input {
  margin-bottom: 10px;
  margin-top: 15px;
  border-radius: 10px;
  padding: 5px;
}

.submit-button {
  background-color: #91ce6b;
  color: white;
  padding: 5px 15px !important;
}

/* media query */

@media only screen and (max-width: 688px) {
  .login {
    width: 55%;
  }
  .login input {
    font-size: 13px;
    width: 150px;
  }
}
