@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bree+Serif&family=EB+Garamond:ital,wght@0,500;1,800&display=swap");

#container1 {
  box-shadow: 0 15px 30px 1px grey;
  background: rgba(255, 255, 255, 0.9);
  text-align: center;
  border-radius: 5px;
  margin: 5em auto;
  height: 400px;
  width: 700px;
}

.service-details {
  text-align: left;
  padding: 30px;
  height: 100%;
  float: left;
  width: 40%;
}

#container1 .service-details h1 {
  font-family: "Bebas Neue", cursive;
  font-size: 30px;
  color: #344055;
  margin: 0;
}

.hint-star {
  margin-left: 0.5em;
  color: rgb(92, 92, 201);
  font-size: 30px;
}
.star:hover {
  color: rgb(52, 34, 68);
  transition: 0.5s;
}

#container1 .service-details > p {
  font-family: "EB Garamond", serif;
  text-align: center;
  font-size: 15px;
  color: #7d7d7d;
}

.service-image {
  height: 100%;
  float: right;
  width: 45%;
}

#container1 img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

@media only screen and (max-width: 600px) {
  #container1 {
    width: 300px;
    display: flex !important;
    flex-direction: column;
    margin-bottom: 30vh;
  }

  .service-details {
    width: 100%;
  }
  .service-image {
    width: 100%;
  }
}
